<!doctype html>
<html lang="pt-br">

<%- include('head'); %>
  <%- include('headerallclasses'); %>

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/allclasses.css" rel="stylesheet">

    <main>

      <section class="allclasses__section">
        <div>
          <div class="allclasses__titulo">
            <h1 class="allclasses__h1">MATRICULE SE NAS AULAS DISPONÍVEIS</h1>
            <h1 class="allclasses__h2">GRÁTIS PARA TODOS OS PERFIS E IDADES!</h1>
          </div>

          <div class="allclasses__button">
            <a href="classes/newclass"><button class="allclasses__button--text">CRIAR UMA SALA DE AULA</button></a>
            <p class="allclasses__button--legenda">apenas para professores...</p>
          </div>

        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% for( let index=0; index < allClasses.length; index++ ) { %>
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= allClasses[index].category%></text>
                    <div>
                      <text x="50%" y="50%" fill="#eceeef" dy=".3em">às <%= allClasses[index].time%></text>
                    </div>
                    
                  </svg>

                  <div class="card-body">
                    <p class="card-text">PROFESSOR: <%= allClasses[index].professor.name%></p> <br>
                    <p class="card-text">Sua aula iniciará assim que você se conectar. Seus alunos estarão aguardando você no horário marcado. Boa aula!</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/<%= user.id %>/<%= allClasses[index].id %>/enroll"
                          class="btn btn-sm btn-outline-secondary">Matricule-se</a>
                        <!-- <a href="./Class.html" class="btn btn-sm btn-outline-secondary">ENTRAR NA AULA</a> -->
                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                      </div>
                      <!-- <small class="text-muted">9 mins</small> -->
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
          </div>
        </div>
      </div>

    </main>

    <%- include('footer'); %>

      <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>


      </body>

</html>