<!doctype html>
<html lang="pt-br">

  <%- include('head'); %>
  <%- include('headerlanding'); %>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/messages.css" rel="stylesheet">

  <script>

    setTimeout(() => {
      window.location.href= "/<%=user.id %>/myclasses"
    }, 2500);
    
  </script>

</head>

<body>

  <main>
    <div class="message">
      <div>
        <h1 class="message__titulo">Olá <%= user.name %>!!</h1>
        <h2 class="message__texto">Você está matriculado para essa aula agora. Aproveite!</h2>
      </div>
    </div>
  </main>

<%- include('footer'); %>

</body>

</html>