<!doctype html>
<html lang="pt-br">

  <%- include('head'); %>
  <%- include('headerlanding'); %>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/messages.css" rel="stylesheet">
  <script>

    setTimeout(() => {
      window.location.href= "login"
    }, 3000);
    
  </script>

</head>

<body>

  <main>
    <div class="message">
      <div>
        <!-- <h1 class="message__titulo"></h1>Bem Vindo <%= user.name %>!!</h1> -->
        <h1 class="message__titulo">Bem vindo <%= user.name %> !!</h1>
        <p class="message__texto">Seu cadastro foi realizado com sucesso. <br>Você será redirecionado para a area de login</br></p>
      </div>
    </div>
  </main>

<%- include('footer'); %>

</body>

</html>