<!doctype html>
<html lang="pt-br">

  <%- include('head'); %>

  <%- include('headerlanding'); %>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/messages.css" rel="stylesheet">

  <script>

    setTimeout(() => {
      window.location.href= "/<%=user.id %>/myclasses"
    }, 2500);
    
  </script>

</head>

<body>

  <main>
    <div class="message">
      <div>
        <h1 class="message__titulo">Olá <%= user.name %> !</h1>
        <h2 class="message__texto">Sua aula foi criada com sucesso. <br>Você será redirecionado...</br></h2>
      </div>
    </div>
  </main>

<%- include('footer_menor'); %>

</body>

</html>