<!doctype html>
<html lang="pt-br">

  <%- include('head'); %>
  <%- include('headerlanding'); %>

  <!-- Bootstrap core CSS -->
  <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

  <script>

    setTimeout(() => {
      window.location.href= "/<%=user.id %>/myclasses"
    }, 3000);
    
  </script>

</head>

<body>
  <main class="container">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Olá <%= user.name %>!</h1>
        <h3 class="col-md-8 fs-4">Sua aula foi criada com sucesso. Você será redirecionado...</h3>
      </div>
    </div>
  </main>

<%- include('footer_menor'); %>

</body>

</html>